{% extends "base.html" %}

{% block content %}

<style type="text/css">
    .visual {
        border: 1px solid #ccc;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        border-radius: 3%;
        position: relative;
    }
    .columns {
        margin-bottom: 20px;
    }
    .visual .rating {
        position: absolute;
        top: 0;
        left: 0;
    }
    .visual .title {
        position: absolute;
        top: 0;
        right: 0;
    }
</style>

<div class="row visuals">
    <div class="columns large-3 medium-4 small-6 visual-sizer"></div>
    {% for visual in visuals %}
    <div class="columns large-3 medium-4 small-6 visual-wrapper">
        <a href="/edit/{{ visual.id }}">
        <div class="visual success">
            <div class="visual-content">
                <img src="{{ visual.images }}" />
            </div>
            <div class="rating label secondary">
                {{ visual.rating }}
            </div>
            <div class="title label success">{{ visual.original_title }}</div>
        </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}