{% extends "common/base.html" %}

{% block content %}

<form id="user_form" method="post" action="" enctype="multipart/form-data">

    {% csrf_token %}

    <!-- Display each form. The as_p method wraps each element in a paragraph
         (<p>) element. This ensures each element appears on a new line,
         making everything look neater. -->
    {{ user_form.as_p }}

    <!-- Provide a button to click to submit the form. -->
    <input class="button success" type="submit" name="submit" value="Register" />
</form>


{% endblock %}