{% extends "common/base.html" %}

{% block content %}

<div id="visual detail">
    <input type=hidden id="visual_id" value="{{ visual.id }}" />
    <input type=hidden id="douban_id" value="{{ visual.douban_id }}" />
    <div class="row">
        <div class="columns small-12">
            <h1>{{ visual.original_title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="columns large-3 small-12">
            <img class="poster" src="{{ visual.images }}" />
        </div>
        <div class="columns large-6 small-12">
            <p>{{ visual.summary }}</p>
        </div>
        <div class="columns large-3 small-12">
            {% for type in types %}
            <a class="label" href="type/{{ type.id }}">{{ type.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row" id="casts">
        
    </div>
    <div class="row" id="reviews">
        <div class="columns">
            <h3>Reviews</h3>
            <div id="reviews-container">
                {% if reviews %}
                {% for review in reviews %}
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="http://dummyimage.com/50x50/000/ffffff.jpg&text={{ review.user }}" />
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p>{{ review }}</p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div class="review-submit">
                <textarea id="submit-review-content"></textarea>
                <div class="button" id="submit-review">Submit your review</div>
            </div>
            {% else %}
            <div class="button">Login to submit your review</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}